.fitnessPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 250px;
}

.fitnessSquareContainer {
  height: 724px;
}

.fitnessSquare {
  height: 170px;
}

.fitnessSquareImg {
  width: 386px;
  border-radius: 10px;
}

.fitnessSquareHeader {
    position: relative;
    left: 24px;
    top: -131px;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 0.652173913;
    font-weight: 600;
    color: #BF2C7D;
}
